*{
    margin: 0;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    align-items: center;
    display: block;
}
section{
    
    width: 95%;
    height: auto;
}

.nosotros_1{
    width: 100%;
    display: flex;
    padding-top: 5%;
}

.nosotros_1.izquierda{

    width: 30%;
    padding-left: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.izquierda img{
    width: 300px;
    height: 300px;
}
.derecha{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.derecha h1{
    color: rgba(101,172,223,255) ;
    padding-bottom: 20px;
    align-self: flex-start;
}

.nosotros_1 .derecha p{
    color: black;
}

/*SECCION NOSOTROS DOS */

.seccion1 .derecha img{
    width: 180px;
    height: 200px;
}

.seccion1{
    width: 100%;
    display: flex;
    display: inline-flex;
}

.seccion1 .derecha{
    width: 40%;
}

.seccion1 .izquierda{
    display: block;
    width: 60%;
    
}
.seccion1 .titulo h1{
    color: rgba(101,172,223,255) ;
    padding-top: 2%;
    padding-bottom: 4%;
    font-size: 35px;
}
.seccion1 .izquierda .texto{
    width: 610px;
}
.seccion1 .izquierda .texto p{
    color: black;
}


/* parte dos del  container seccion dos*/

.seccion2{
    width: 100%;
    display: flex;
    display: inline-flex;
}
.seccion2 .derecha img{
    width: 200px;
    height: 200px;
}

.seccion2 .izquierda{
    display: block;
    width: 60%;
}
.seccion2 .derecha{
    width: 40%;
}
.seccion2 .titulo h1{
    color: rgba(101,172,223,255) ;
    padding-top: 3%;
    padding-bottom: 4%;
    font-size: 35px;
}
.seccion2 .izquierda .texto{
    width: 610px;
}
.seccion2 .izquierda .texto p{
    color: black;
}

/*  ARREGLO DE ESPACIOS ENTRE SECCIONES*/

.nosotros_2{
    padding-top: 4%;
    padding-bottom: 15%;
}

/* SECCION NOSOTROS TRES */

.nosotros_3{
    width: 100%;
    display: block;
    justify-content: center;
}


.titulo {
    font-size: 24px;
    font-weight: bold;
    color: #4A90E2;
    margin-bottom: 30px;
}

.wrapper_four {
    display: grid; /* Cambia de flexbox a grid */
    grid-template-columns: 1fr 1fr; /* Define dos columnas de igual tamaño */
    gap: 20px; /* Espacio entre columnas y filas */
}

.only-wrapper {
    text-align: center; /* Centra el contenido de cada tarjeta */
    padding: 20px;
   
}

.only-wrapper img {
    width: 150px; 
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.only-wrapper h1 {
    font-size: 18px;
    margin: 10px 0;
    color: #4A90E2;
}

.only-wrapper p {
    font-size: 14px;
    color: #555;
    
}
/*SECCION VALORES*/
.valores{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.nuestrosvalores{
    font-weight: bolder;
    font-size: 50px;
    color: rgb(97, 180, 239);
}

.iconsText{
    display: flex;
    flex-direction: column;
}


.iconosImagenes{
    width: 77px;
    margin-top: 190px;
    margin-bottom: 100px;
    position: relative;
    height: 90px;
    float: right;
    right: 148px;
    margin-left: 345px;
    margin-right: 97px;
}


.titulosValores{
    width: 77px;
    margin-top: 190px;
    position: absolute;
    height: 90px;
    float: right;
    right: 131px;
    margin-left: 502px;
    margin-right: 312px;
}

.subTitulos .subTitulosTexto{
    display: flex;
    flex-direction: row;
}

.subtitulosh3{
    width: 77px;
    margin-top: 190px;
    position: relative;
    height: 90px;
    top: -654px;
    float: right;
    margin-bottom: 100px;
    right: 137px;
    margin-left: 302px;
    margin-right: 153px;
    color: rgb(97, 180, 239);
    font-size: 30px;
}

.subtitulosh3V2{
    font-weight: 500;
    font-size: larger;
    color: black;
    margin-top: 190px;
    width: 581px;
    position: relative;
    height: 83px;
    top: -1357px;
    float: right;
    margin-bottom: 95px;
    right: 1px;
    margin-left: -43px;
    text-align: center;
}



@media screen {
    .izquierda{
        padding-left: 150px ;
        padding-right: 100px;
    }
    .derecha{
        width: 700px;
    }
    
}