*{
    margin: 0;
    padding: 0%;
}
body{
    align-items: center;
}
section{
    
    width: 95%;
    height: auto;
}

.nosotros_1{
    width: 100%;
    display: flex;
}

.izquierda{
    width: 30%;
    padding-left: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.derecha{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.derecha h1{ 
    padding-bottom: 20px;
    align-self: flex-start;
}



@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .izquierda{
        padding-left: 150px ;
        padding-right: 100px;
    }
    .derecha{
        width: 700px;
    }
    
}